.moviescardlist {
  display: flex;
  flex-direction: column;
}

.moviescardlist__notfound {
  font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    display: none;
    margin: 0;
}

.moviescardlist__container {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(3, minmax(290px, 364px));
  column-gap: 24px;
  row-gap: 30px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 70px 0 30px 0;
}

.moviescardlist__button {
  width: 320px;
  height: 36px;
  background-color: white;
  margin: 50px auto 79px auto;
  border: 1px solid #e8e8e8;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.moviescardlist__button:hover {
  cursor: pointer;
}

@media (max-width: 935px) {
  .moviescardlist__container {
    grid-template-columns: repeat(2, minmax(339px, 1fr));
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media (max-width: 735px) {
  .moviescardlist__container {
    grid-template-columns: repeat(2, minmax(300px, 339px));
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media (max-width: 650px) {
  .moviescardlist__container {
    max-width: 708px;
    grid-template-columns: repeat(1, max(300px));
    column-gap: 30px;
    row-gap: 36px;
  }
}
@media (max-width: 400px) {
  .moviescardlist__container {
    row-gap: 16px;
    margin: 40px 0 30px 0;
  }

  .moviescardlist__button {
    width: 240px;
    line-height: 15px;
  }
}
