.portfolio {
  margin: 100px 70px 0 70px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0;
}

.portfolio__list {
  margin: 50px 0 125px 0;
  padding: 0;
}

.portfolio__info {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 19px;
  margin-bottom: 21px;
}

.portfolio__info:last-child {
  border-bottom: none;
  padding: 0;
  margin: 0;
}

.portfolio__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  width: 100%;
}

.portfolio__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.portfolio__arrow {
  margin: 0 0 0 auto;
  height: 42px;
}

@media (max-width: 768px) {
  .portfolio {
    margin: 90px 50px 0 50px;
  }

  .portfolio__list {
    margin-bottom: 90px;
  }

  .portfolio__info {
    margin-bottom: 20px;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media (max-width: 420px) {
  .portfolio {
    margin: 70px 14px 0 14px;
  }

  .portfolio__title {
    font-size: 14px;
  }

  .portfolio__list {
    margin: 40px 0 70px 0;
  }

 

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__arrow {
    width: 18px;
    height: 28px;
  }
}
