.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 74px 0 123px 0;
}

.profile__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}

.profile__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
  margin-bottom: 17px;
  width: 100%;
}

.profile__box:last-of-type {
  margin-bottom: 0;
  border: none;
}

.profile__text {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  border: none;
  padding: 0;
}

.profile__input:focus {
  outline: none;
}

.profile__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-top: 204px;
  cursor: pointer;
  border: none;
  background: none;
}

.profile__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 70px;
}

.profile__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile__title {
    margin: 235px 0 95px 0;
  }

  .profile__button {
    margin-top: 195px;
  }

  .profile__link {
    margin-top: 15px;
  }
}

@media (max-width: 420px) {
  .profile__title {
    margin: 70px 0 80px 0;
  }

  .profile__container {
    max-width: 260px;
  }

  .profile__box {
    margin-bottom: 18px;
  }

  .profile__button {
    margin-top: 362px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__link {
    font-size: 12px;
    line-height: 15px;
  }
}
