.register {
  width: 396px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
}

.register__title {
  margin: 35px 0 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register__label {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.register__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  color: #000000;
  background-color: white;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 24px;
  padding: 0 0 7px 0;
}

.register__input:nth-of-type(2) {
  border-bottom: 1px solid #ff6838;
}

.register__input:last-of-type {
  color: #ee3465;
  margin-bottom: 6px;
}

.register__input:focus {
  outline: none;
  background-color: #ffffff;
}

.register__input:-webkit-autofill,
.register__input:-webkit-autofill:hover,
.register__input:-webkit-autofill:focus,
.register__input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.register__span {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.register__submit {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #ff6838;
  text-align: center;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  margin-top: 133px;
  padding: 0;
  border: none;
  transition: opacity 0.2s;
  cursor: pointer;
}

.register__form-button-submit:hover {
  opacity: 0.8;
}

.register__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  color: #ffffff;
}

.register__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 0 5px 0 0;
}

.register__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ff6838;
  text-decoration: none;
}

@media (max-width: 450px) {
  .register {
    align-items: center;
    width: 260px;
  }
  .register__title {
    margin: 50px 0 80px;
  }

  .register__submit {
    width: 260px;
    font-size: 12px;
    line-height: 15px;
    margin-top: 222px;
  }

  .register__container {
    margin-top: 13px;
  }

  .register__text {
    font-size: 12px;
    line-height: 15px;
    margin: 0 8px 0 0;
  }

  .register__link {
    font-size: 12px;
    line-height: 15px;
  }
}
